*{
  margin:0 ;
  padding: 0;
}

header{
  background-color: #1e5372;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;;
  min-width: 1400px;
 
}

.menuBar{
  height: 55px;
  width: 1400px;
  display: flex;
  justify-content: space-around;
}

.menuBar__logo{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}


.menuNav{
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: auto;
}

.enlaces{
  margin-left: 245px;
  margin-right: auto;
 }


.lista__item{
  color: white;
  padding: 5px 12px 5px 5px;
  text-decoration: none; 
}


.seleccionaPlan{
  margin-left: 25px;
  margin-right:auto;
}

.seleccionaPlan__opciones{
  color: white;
  text-decoration: none;

}

.menuBar__botonInicio{
  margin-left: 10px;
  margin-right: auto;
}

.botonInicio{
  background-color: #95ca3e;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.menuBar__buscador{
  margin-left:auto;
  margin-right:100px;
  display: flex;
  align-items: center;
}


.buscador__input{
  border: 1px solid #fff;
  padding: 8px 0 8px 16px;
  border-radius: 5px 0 0 5px;
  font-size: 12px;
  width: 200px;
  margin-left:5px;
  margin-right: auto;
}

.buscador__icono{
  fill: #fff;
  background-color: #95ca3e;
  border: 1px solid #95ca3e;
  border-radius: 0 5px 5px 0;
  margin-left: auto;
  margin-right: 10px;
  width: 40px;
  cursor: pointer;
}

.modalContenido{
    background-color:silver;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
  }
  .modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
  }
  
  #modalPlanes:target{
    opacity:1;
    pointer-events:auto;
  }